---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const postsByYear = posts.reduce((acc, post) => {
    const year = post.data.pubDate.getFullYear();
    const month = post.data.pubDate.toLocaleString("default", {
        month: "long",
    });
    if (!acc[year]) {
        acc[year] = {};
    }
    if (!acc[year][month]) {
        acc[year][month] = [];
    }
    acc[year][month].push(post);
    return acc;
}, {});
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <BaseHead
            title={`Blog | ${SITE_TITLE}`}
            description={SITE_DESCRIPTION}
        />
    </head>
    <body class="h-full bg-gray-50 dark:bg-stone-950 flex flex-col">
        <Header />
        <main class="w-full max-w-[700px] mx-auto px-4 py-12">
            <h1
                class="text-4xl font-bold text-gray-700 dark:text-gray-300 mb-4 text-left"
            >
                Blog
            </h1>
            <p class="text-lg text-gray-600 dark:text-gray-400 mb-8">
                Most of my writing is about programming, technology, books, and
                math. Occasionally, there may be posts that do not fit into any
                one of these categories. There is no general theme to this blog,
                and that is by design :^).
            </p>

            {
                Object.keys(postsByYear)
                    .sort((a, b) => b - a)
                    .map((year) => (
                        <section class="mb-8">
                            <h2 class="text-2xl font-bold text-gray-700 dark:text-gray-300 mb-4">
                                {year}
                            </h2>
                            {Object.keys(postsByYear[year]).map((month) => (
                                <div class="mb-6">
                                    <ul class="list-decimal list-inside p-0">
                                        {postsByYear[year][month].map(
                                            (post) => (
                                                <li class="mb-2">
                                                    <a
                                                        href={`/blog/${post.id}/`}
                                                        class="text-lg text-blue-500 dark:text-blue-200 hover:underline hover: decoration-blue-400 underline-offset-4"
                                                    >
                                                        {post.data.title}
                                                    </a>
                                                    <span class="text-sm text-gray-500 dark:text-gray-400 ml-2">
                                                        -{" "}
                                                        <FormattedDate
                                                            date={
                                                                post.data
                                                                    .pubDate
                                                            }
                                                        />
                                                    </span>
                                                </li>
                                            ),
                                        )}
                                    </ul>
                                </div>
                            ))}
                        </section>
                    ))
            }
        </main>
        <Footer />
    </body>
</html>
