---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { projects } from "../data/projects.ts";
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <BaseHead
            title={`Now | ${SITE_TITLE}`}
            description={SITE_DESCRIPTION}
        />
    </head>
    <body class="h-full bg-gray-100 dark:bg-gray-800 flex flex-col">
        <!-- <Header /> -->
        <main class="w-full max-w-[1200px] mx-auto px-4 py-12">
            <h1
                class="text-5xl font-bold text-gray-800 dark:text-gray-200 mb-8 text-center"
            >
                Dear Recruiter
            </h1>

            <div class="mb-12">
                <h2
                    class="text-3xl font-semibold text-gray-700 dark:text-gray-300 mb-6 border-b-2 border-gray-200 dark:border-gray-700 pb-2"
                >
                    Work Experience
                </h2>
                <div
                    class="bg-white dark:bg-stone-900 p-6 rounded-lg shadow-md"
                >
                    <div class="flex justify-between items-start">
                        <div class="flex gap-x-6">
                            <img
                                src="/google_logo.jpg"
                                alt="Google logo"
                                width="60"
                                height="60"
                                class="rounded-lg"
                            />
                            <div>
                                <h3
                                    class="text-2xl font-bold text-gray-900 dark:text-gray-100"
                                >
                                    Google Summer of Code
                                </h3>
                                <p
                                    class="text-lg text-gray-600 dark:text-gray-400"
                                >
                                    St. Jude Research
                                </p>
                                <p
                                    class="text-sm text-gray-500 dark:text-gray-500 mt-1"
                                >
                                    May-Sep 2025
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p
                            class="text-base text-gray-700 dark:text-gray-300 mt-2"
                        >
                            Developed a real-time monitoring solution for
                            <strong class="font-semibold">Crankshaft</strong>.
                            Key contributions include:
                        </p>
                        <ul
                            class="list-disc list-inside text-base text-gray-700 dark:text-gray-300 mt-2 space-y-1 pl-4"
                        >
                            <li>
                                Architected and implemented an orchestration
                                layer using Tokio and broadcast channels for
                                efficient, real-time data flow.
                            </li>
                            <li>
                                Developed performance-critical macros to reduce
                                boilerplate and improve code readability.
                            </li>
                        </ul>
                        <p
                            class="text-base text-gray-800 dark:text-gray-200 mt-3 font-medium"
                        >
                            <span class="font-semibold">Tools:</span> Rust,
                            gRPC, TUI, Tokio
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <h2
                    class="text-3xl font-semibold text-gray-700 dark:text-gray-300 mb-6 border-b-2 border-gray-200 dark:border-gray-700 pb-2"
                >
                    Side Projects
                </h2>
                <div class="space-y-8">
                    <div>
                        <h3
                            class="text-2xl font-semibold text-gray-600 dark:text-gray-400 mb-4"
                        >
                            Web3
                        </h3>
                        <ul class="space-y-4">
                            {projects
                                .filter((p) => p.category === "web3")
                                .map((project) => (
                                    <li class="bg-white dark:bg-stone-900 p-4 rounded-lg shadow-sm">
                                        <a
                                            href={project.link}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-xl font-bold text-blue-600 dark:text-blue-400 hover:underline"
                                        >
                                            {project.name}
                                        </a>
                                        <p
                                            class="text-gray-700 dark:text-gray-300 mt-1"
                                        >
                                            {project.description}
                                        </p>
                                    </li>
                                ))}
                        </ul>
                    </div>
                    <div>
                        <h3
                            class="text-2xl font-semibold text-gray-600 dark:text-gray-400 mb-4"
                        >
                            Systems
                        </h3>
                        <ul class="space-y-4">
                            {projects
                                .filter((p) => p.category === "systems")
                                .map((project) => (
                                    <li class="bg-white dark:bg-stone-900 p-4 rounded-lg shadow-sm">
                                        <a
                                            href={project.link}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-xl font-bold text-blue-600 dark:text-blue-400 hover:underline"
                                        >
                                            {project.name}
                                        </a>
                                        <p
                                            class="text-gray-700 dark:text-gray-300 mt-1"
                                        >
                                            {project.description}
                                        </p>
                                    </li>
                                ))}
                        </ul>
                    </div>
                    <div>
                        <h3
                            class="text-2xl font-semibold text-gray-600 dark:text-gray-400 mb-4"
                        >
                            Tools
                        </h3>
                        <ul class="space-y-4">
                            {projects
                                .filter((p) => p.category === "tools")
                                .map((project) => (
                                    <li class="bg-white dark:bg-stone-900 p-4 rounded-lg shadow-sm">
                                        <a
                                            href={project.link}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-xl font-bold text-blue-600 dark:text-blue-400 hover:underline"
                                        >
                                            {project.name}
                                        </a>
                                        <p
                                            class="text-gray-700 dark:text-gray-300 mt-1"
                                        >
                                            {project.description}
                                        </p>
                                    </li>
                                ))}
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>

