---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Folder from "../components/Folder.astro";
import Projects from "../components/Projects.astro";
import { software } from "../data/software.ts";
import SoftwareCard from "../components/SoftwareCard.astro";
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-full bg-gray-50 dark:bg-stone-950 flex flex-col">
        <Header />

        <main class="w-full max-w-[700px] mx-auto px-4 py-12">
            <h1
                class="text-4xl font-bold text-gray-700 dark:text-gray-300 mb-4 text-left"
            >
                Rajesh Jha
            </h1>
            <h2 class="text-xl text-gray-600 dark:text-gray-400 text-left">
				Backend & Systems programmer | All about the ART 
            </h2>
                    <div class="prose dark:prose-invert mt-8 text-left">
                        <p class="text-lg text-gray-700 dark:text-gray-300 mb-10">
                        I love working on tools and softwares which deal with low-level systems.
                    This website archives my
                    side-projects and thoughts.
                        </p>
                    </div>

            <div class="flex space-x-6" id="portfolio-nav">
                <a
                    href="#side-projects"
                    class="text-base text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100"
                    >Projects</a
                >
                <a
                    href="#work"
                    class="text-base text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100"
                    >Work-exp</a
                >
            </div>

            <div id="portfolio-content" class="mt-8">
                <Projects />
                <div id="work-content" class="hidden">
                    <h3
                        class="text-2xl font-bold text-gray-700 dark:text-gray-300 mb-4"
                    >
                        Work
                    </h3>
                    <!-- <p class="text-base text-gray-700 dark:text-gray-300 mb-4">
                        This is a publicly available record of my work that goes
                        beyond my resume.
                    </p>
                    <p class="text-base text-gray-700 dark:text-gray-300 mb-10">
                        This section only includes projects and tools that I've
                        worked on professionally. i.e, no FOSS work and personal
                        projects. Those can be found on my GitHub, and elsewhere
                        on this site.
                    </p> -->
                    <div class="mb-6">
                        <div class="flex justify-between items-baseline">
                            <div class="flex gap-x-4">
                                <img
                                    src="/google_logo.jpg"
                                    alt="google logo"
                                    width="60px"
                                    height="10px"
                                    class="rounded-lg"
                                />
                                <div>
                                    <h4
                                        class="text-lg font-medium text-gray-800 dark:text-gray-200"
                                    >
                                        Google Summer of Code
                                    </h4>
                                    <span
                                        class="text-sm text-gray-500 dark:text-gray-400"
                                        >St. Jude Research</span
                                    >
                                </div>
                            </div>
                            <span
                                class="text-sm text-gray-500 dark:text-gray-400"
                                >May-Sep 2025</span
                            >
                        </div>
                        <p
                            class="text-base text-gray-700 dark:text-gray-300 mt-2 font-semibold"
                        >
                            Tools: <span class="font-normal"
                                >Rust, grpc, tui, channels.</span
                            >
                        </p>
                        <p
                            class="text-base text-gray-700 dark:text-gray-300 mt-1"
                        >
                            Developing a real time monitoring solution for <em
                                class="italic">Crankshaft</em
                            >, my work includes:
                        </p>
                        <ul
                            class="list-disc list-inside text-base text-gray-700 dark:text-gray-300 mt-2 space-y-1"
                        >
                            <li>
                                developed a orchestration layer using tokio and gRPC.
                            </li>
							<li>work with async rust, and solving real time proplems</li>
                        </ul>
                    </div>
                </div>
                <div id="software-content" class="hidden">
                    <h3
                        class="text-2xl font-bold text-gray-700 dark:text-gray-300 mb-4"
                    >
                        Software
                    </h3>
                    <ul class="list-decimal list-inside p-0">
                        {software.map((item) => (
                            <SoftwareCard name={item.name} link={item.link} description={item.description} />
                        ))}
                    </ul>
                </div>
            </div>
        </main>

        <script>
            const navLinks = document.querySelectorAll("div#portfolio-nav a");
            const contentSections = document.querySelectorAll(
                "#portfolio-content > div",
            );

            navLinks.forEach((link) => {
                link.addEventListener("click", (e) => {
                    e.preventDefault();
                    const targetId =
                        link.getAttribute("href").substring(1) + "-content";

                    contentSections.forEach((section) => {
                        if (section.id === targetId) {
                            section.classList.remove("hidden");
                        } else {
                            section.classList.add("hidden");
                        }
                    });
                });
            });
        </script>

        <Footer />
    </body>
</html>
