---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection, render } from "astro:content";

const nowEntries = (await getCollection("now")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const latestEntry = nowEntries[0];
const { Content } = await render(latestEntry);
const previousEntries = nowEntries.slice(1);
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <BaseHead
            title={`Now | ${SITE_TITLE}`}
            description={SITE_DESCRIPTION}
        />
    </head>
    <body class="h-full bg-gray-50 dark:bg-stone-950 flex flex-col">
        <Header />
        <main class="w-full max-w-[700px] mx-auto px-4 py-12">
            <h1
                class="text-4xl font-bold text-gray-700 dark:text-gray-300 mb-4 text-left"
            >
                Now
            </h1>
            <div class="prose dark:prose-invert mt-8 text-left">
                <h2
                    class="text-2xl font-bold text-gray-700 dark:text-gray-300 mb-4"
                >
                    {latestEntry.data.title}
                </h2>
                <div class="text-base text-gray-700 dark:text-gray-300">
                    <Content />
                </div>

                {
                    previousEntries.length > 0 && (
                        <div class="mt-12">
                            <h3 class="text-xl font-bold text-gray-700 dark:text-gray-300 mb-4">
                                Previous Entries
                            </h3>
                            <ul class="list-none p-0">
                                {previousEntries.map((entry) => (
                                    <li class="mb-2">
                                        <a
                                            href={`/now/${entry.slug}/`}
                                            class="text-lg text-gray-800 dark:text-gray-200 hover:underline"
                                        >
                                            {entry.data.title}
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    )
                }
            </div>
        </main>
        <Footer />
    </body>
</html>
