---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">; // Expect full post object
const post = Astro.props;
console.log(post.data);
const { title, description, pubDate, updatedDate, heroImage } = post; // Extract from post.data
---

<html lang="en" class="h-full">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="h-full bg-gray-50 dark:bg-stone-900">
        <Header />
        <main class="w-full max-w-3xl mx-auto px-4 md:px-6 py-12">
            <nav class="text-gray-700 dark:text-gray-300 text-sm mb-4">
                <a href="/" class="hover:text-gray-500 dark:hover:text-gray-400"
                    >Home</a
                >
                <span class="mx-2">/</span>
                <a
                    href="/blog"
                    class="hover:text-gray-500 dark:hover:text-gray-400">Blog</a
                >
                <span class="mx-2">/</span>
                <span class="font-semibold text-gray-900 dark:text-gray-100"
                    >{title}</span
                >
            </nav>
            <article class="prose dark:prose-invert mx-auto">
                {
                    heroImage && (
                        <img
                            src={heroImage}
                            alt=""
                            class="w-full h-auto max-h-[400px] object-cover rounded-xl shadow-lg mb-6"
                        />
                    )
                }
                <div class="text-center mb-6">
                    <div
                        class="text-gray-600 dark:text-gray-400 mb-2 text-sm md:text-base"
                    >
                        <FormattedDate date={pubDate} />
                        {
                            updatedDate && (
                                <div class="italic">
                                    Last updated on{" "}
                                    <FormattedDate date={updatedDate} />
                                </div>
                            )
                        }
                    </div>
                    <h1
                        class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-4"
                    >
                        {title}
                    </h1>
                    <hr class="border-gray-200 dark:border-gray-700" />
                </div>
                <div
                    class="text-gray-800 dark:text-gray-200 leading-relaxed text-base md:text-lg"
                >
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
